<%= form_with(model: stock, local: true) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :stock_name %>
  </div>

  <div class="field">
    <%= form.label :stock_type %>
    <%= form.text_field :stock_type, id: :stock_type %>
  </div>

  <div class="field">
    <%= form.label :last_refreshed %>
    <%= form.date_select :last_refreshed, id: :stock_last_refreshed %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :stock_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
