<h1>SF Momentum</h1>

<%= form_tag({:action => :momentum}, method: "get") do %>
	<div class='input-group date' id='datetimepicker1' style="padding-bottom: 20px;">
	  <%= label_tag(:date, "Data:") %>
	  <%= text_field_tag(:date, Date.current, {"class" => "datepicker form-control", "style" => "width: 200px;"}) %>
	  <%= submit_tag("SkaiÄiuoti") %>
	</div>
	<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
    	format: "yyyy-mm-dd",
    	weekStart: 1
		});
  });
</script>
<% end %>

<% unless params[:date].blank? %>
	<h2>Data <%= @target_date %><br> perkam ir laikom</h2>
	<% @sorted_data.first(3).each do |k, value| %>
		<p><strong><%= value[:name] %> = <%= value[:momentum] %></strong><p>
	<% end %>

	<h4>Likusieji</h4>
	<% data = @sorted_data.slice(3, @sorted_data.size-1) %>
	<% data.each do |k, value| %>
		<p><%= value[:name] %> = <%= value[:momentum] %></p>
	<% end %>
<% end %>